<div class="container card authform">
  <% if @topic %>
    <form method="post" action="/admin/topic/<%=@topic.id %>" class="sm">
      <div class="form-group sm">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control" id="topicTitle" placeholder="Title" name="title" value="<%= @topic.title %>">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="topicDescription" rows="3" name="description" ><%= @topic.description  %></textarea>
      </div>
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type="submit" value="Edit" class="authbutton btn btn-primary">
    </form>

  <% end%>
</div>
