<div class="">
  <div class="row dash-row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><%= @topics %></h5>
          <p class="card-text">Total Topics</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><%= @users %></h5>
          <p class="card-text">Total Users</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title"><%= @resources %></h5>
          <p class="card-text">Total Resources</p>
        </div>
      </div>
    </div>

    </div>
  </div>
