
<div class="container card authform">
  <h4 class="text-center"><%= @title %></h4>
  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email"  class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" oninvalid="this.setCustomValidity('Please Enter valid email')"
             oninput="setCustomValidity('')" placeholder="Enter email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" oninvalid="this.setCustomValidity('Please Enter valid password')"
             oninput="setCustomValidity('')" class="form-control" required id="password" placeholder="Password" name="password" />
    </div>
    <button type="submit" class="authbutton btn btn-primary">Submit</button>
  </form>
</div>
