<div class="container">
  <% if @resource  %>
  <hr>
  <div class="row row-margin-bottom resource-card table_boundry">
    <div class="col-md-12 no-padding lib-item" data-category="view">
      <div class="lib-panel">
        <div class="row box-shadow">
          <div class="col-md-12">
            <div class="lib-row lib-header">
             <h3><%= @resource.title %></h3>
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row ">
              <%= @resource.description %>
            </div>
            <div class="lib-row  text-center " style="padding: 0 10px; margin-top: 30px">
             <p><span><a href="<%= @resource.url %>" target=”_blank”>Click this link for more information </a> </span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
    <% else %>
    <div class="row dash-row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="text-center">No resource yet for the course </h3>
          </div>
        </div>
      </div>
    </div>

    <% end %>
</div>