 <div class="container about card " >

   <h1 class="cover-heading"><%=@message%></h1>
   <blockquote>
     <p class="lead"> 3L is an app that allows user to learn, based on short, concise lessons delivered to learners when it suits them.
       It’s <strong>fun for learners</strong>. A daily resource will be provided to user on topic they choose to learn.
       <em>This ensures that users can learn at their own pace.</em></p>
   </blockquote>

 </div>
