Hello  <strong><%= user %></strong> <br />
<br/>
Thanks for enrolling in our course <strong><%= topic %> </strong>.  To enroll for more courses click the button below. Or copy the url link
https://life-long-learner.herokuapp.com/topics

<br />
<br />
<table>
  <tr>
    <td align='center' style='background:#1A54BA; padding:15px 18px;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;'>
      <a target='_blank' href='https://life-long-learner.herokuapp.com/topics' class='link2' style='color:#ffffff; font-size: 16px; text-decoration: none;'>Courses</a>
    </td>
  </tr>
</table>