
<main role="main" class="inner cover text-center">
  <p class="lead mono-font">LIFE     LONG     LEARNER</p>
  <p class="lead">
    <a href="/login" class="learn btn btn-lg btn-secondary">Learn More</a>
  </p>
</main>
